.navbar {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.navbar a{
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  margin-right: 20px;
}

.navbar .active {
  color: tomato;
  border: 2px solid green;
  padding: 3px;
}